<div style="width: 1100px;margin: 0 auto;">
<br />
<%= image_tag("FounditLogo@2x.png", :class => "mainLogo") %>

<div style="text-align: center;">
<br />
<br /><br />

<h1>Awesome people who want to help you<br /><br /> find your lost stuff</h1>
<br /><br />
<h2>CPS630 - Group 1 - 2013</h2>
<h2>Shaun Maharaj</h2>
<h2>Matthew Martire</h2>
<h2>Parnit Pooni</h2>
<%= link_to 'Back', postings_path %>
</div>